.box {
width:500px; 
height: fit-content; 
background-color: aliceblue; 
border-radius: 25px; 
border:
solid 3px darkblue; 
margin: 20px;
padding: 20px;
}

.texto {
    font-family: monospace; 
    font-size: 30px;
    color: darkblue;
}
.texto2 {
    font-family: monospace; 
    font-size: 15px;
    
}
/* Perdi o arquivo original feito em sala e tentei refazer conforme eu lembrava dos requisitos*/